@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.otf') format('opentype');
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

figure {
    background: url('./images/greens.jpg');
    background-attachment: fixed;
    background-size: cover;
    max-width: 30%;
    height: 100%;
}

#figurediv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    font-size: 2rem;
    color: white;
    font-family: 'Norse-Bold', 'Roboto', sans-serif;
}
